[Unit]
Description=network-monitor-alarm
After=network.target network-online.target
Wants=network-online.target

[Service]
User=nobody
Group=nobody
Type=simple
StandardOutput=
StandardError=syslog
Restart=no
ExecStart=/usr/local/sbin/network-monitor-alarm

[Install]
WantedBy=network-monitor-alarm.timer
